body {
  position: relative;
  background-image: linear-gradient(to bottom right, rgb(0, 0, 0), yellow);
  height: 0%;
}

#track {
  background-color: rgba(0, 247, 255, 0.678);
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.form-inline {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  padding-bottom: 5rem;
}
.form-control {
  display: flex;
  justify-content: center;
  width: 43% !important;
}
.form-group {
  display: flex;
  justify-content: center;
  width: 100%;
}

#songs {
  display: flex;
  justify-content: center;
}

#top {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  color: rgb(255, 0, 0);
  font-size: 3rem;
  font-family: "Permanent Marker", cursive;
}
